body {
    font-family: "Nunito", sans-serif;
}

#modeField {
    font-size: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    height: 5em;
    font-size: 3rem;
    padding-top: 3em;
}


.gameContainer {
    display: none;
    flex-direction: column;
    padding-top: 8em;
    align-items: center;
}

#resultField {
    /* need fixed height so it doesn't adjust spacing when words are added */
    height: 2em ;
}

#messageField {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.gameBoard {
    display: grid;
    grid-template-rows: 80px 80px 80px;
}

.gameBoardRow {
    display: grid;
    grid-template-columns: 80px 80px 80px;  
}

.gameBoardCell {
    display: flex;
    font-size: 3rem;
    border: 0.2rem solid black;
    justify-content: center;
    align-items: center;
}