header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5em;
    font-size: 3rem;
    padding-top: 3em;
}

.gameContainer {
    display: none;
    flex-direction: column;
    padding-top: 8em;
    align-items: center;
}

#resultField {
    /* need fixed height so it doesn't muff up spacing when words are added */
    height: 20px;
}

#messageField {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gameBoard {
    display: grid;
    grid-template-rows: 80px 80px 80px;
}

.gameBoardRow {
    display: grid;
    grid-template-columns: 80px 80px 80px;  
    
}

.gameBoardCell {
    border: 5px solid black;
    text-align: center;
}